.App {
	text-align: center;
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tarotCard {
	width: 25vw;
	max-width: 300px;
	height: 44vw;
	max-height: 534px;
	border-radius: 8px;
}
